#dialog{
    display: none; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50px;
    top: 20px;
    border: 1px rgb(224, 224, 224) solid;
    height: 400px;
    width: 800px;
    background-color: white; 
    z-index:aotu;
    }
.main{
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1040px;
    width: 1503px;
    position:relative ;
    border: 1px rgb(224, 224, 224) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.head{
    border: 1px rgb(224, 224, 224) solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: auto;
    top: 0;
    left: 0;
    height: 40px;
    width: 1503px;
    background-color: white;
}
.header{
    top: 0;
    left: 0;
    margin-left: 1100px;
    line-height: 40px;
    height: 40px;
    text-align: left;
    margin-bottom: 5px;
    width: 400px;
}
.header a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar{
    position: absolute;
    left: 0;
    top:0;
    height: 150px;
    width: 1502px;
    background-color: white;
}
.navbar img{
    margin-top: 25px;
    margin-left: 300px;
    height: 100px;
    width: 100px;
}
.menu{
    position: absolute;
    left: 0;
    top: 145px;
    height: 800px;
    width: 200px;
    background-color: white;
}
.content{
    position: absolute;
    left: 249px;
    top: 145px;
    height: 800px;
    width: 1000px;
    background-color: white;
}
.sidebar{
    position: absolute;
    left: 1298px;
    top: 145px;
    height: 800px;
    width: 200px;
    background-color: white;
}
.footer{
    position: absolute;
    left: 0;
    top: 980px;
    height: 25px;
    width: 1503px;
    margin-top: 20px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer a{
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.content .shop{
    border: 1px rgb(224, 224, 224) solid;
    position: absolute;
    top:0;
    left:0;
    height: 40px;
    width: 1000px;
    border-radius: 20px;
}
.content .shop span{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 200px;
    margin-left: 460px;
}
.content .shop a{
    text-decoration: none;
}
.content .yp{
    border: 1px rgb(224, 224, 224) solid;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 50px;
    height: 700px;
    width: 1000px;
}
.yp .photo{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 300px;
    width: 300px;
}
.yp img{
    height: 300px;
    width: 300px;
}
.yp .discribe{
    position: absolute;
    left: 340px;
    top: 20px;
    height: 300px;
    width: 600px;
    text-align: left;
}
.yp .tianjia{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 300px;
    width: 300px;
    border: 1px rgb(224, 224, 224) solid;
}
.yp .discribe2{
    position: absolute;
    left: 340px;
    top: 20px;
    height: 300px;
    width: 600px;
    text-align: left;
}
.foot{
    margin-top: 20px;
    text-align: center;
}
.foot a{
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
